.git
.github
node_modules
vendor
public/build
public/hot
storage/*.key
storage/app/feeds/*.csv
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/database.sqlite
.env
.env.*
!.env.example
tests
.phpunit.cache
.phpunit.result.cache
